{
  "chrome": {
    "default": "{{ default_chrome_version }}",
    "versions": {
      {% for version, data in chrome_browsers.items() %}
      "{{ version }}": {
        "image": "{{ data.image }}",
        "port": "{{ data.port }}",
        "path": "{{ data.path }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    }
  },
  "firefox": {
    "default": "{{ default_firefox_version }}",
    "versions": {}
  }
}