services:

  selenoid1:
    image: aerokube/selenoid:1.11.3
    container_name: selenoid1
    hostname: selenoid1
    ports:
      - "4444:4444"
    networks:
      - selenoid_net1
    environment:
      - DOCKER_API_VERSION=1.49
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/selenoid_otus/browsers.json:/etc/selenoid/browsers.json:ro
      - ./logs/selenoid1:/opt/selenoid/logs
    shm_size: 2g
    command: [
      "-limit", "5",
      "-container-network", "selenoid_net1",
      "-log-output-dir", "/opt/selenoid/logs",
      "-capture-driver-logs",
      "-save-all-logs"
    ]

  selenoid2:
    image: aerokube/selenoid:1.11.3
    container_name: selenoid2
    hostname: selenoid2
    ports:
      - "4445:4444"
    networks:
      - selenoid_net2
    environment:
      - DOCKER_API_VERSION=1.49
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /root/selenoid_otus/browsers.json:/etc/selenoid/browsers.json:ro
      - ./logs/selenoid2:/opt/selenoid/logs
    shm_size: 2g
    command: [
      "-limit", "5",
      "-container-network", "selenoid_net2",
      "-log-output-dir", "/opt/selenoid/logs",
      "-capture-driver-logs",
      "-save-all-logs"
    ]

  ggr:
    image: aerokube/ggr
    container_name: ggr
    hostname: ggr
    ports:
      - "4446:4444"
    depends_on:
      - selenoid1
      - selenoid2
    volumes:
      - /root/selenoid_otus/ggr/grid-router:/etc/grid-router:ro
    command: [
      "-guests-allowed",
      "-guests-quota", "artemn",
      "-verbose",
      "-quotaDir", "/etc/grid-router/quota"
    ]
    networks:
      - selenoid_net1
      - selenoid_net2

  ggr-ui:
    image: aerokube/ggr-ui
    container_name: ggr-ui
    hostname: ggr_ui
    depends_on:
      - ggr
    ports:
      - "8888:8888"
    volumes:
      - /root/selenoid_otus/ggr/grid-router:/etc/grid-router:ro
    networks:
      - selenoid_net1
      - selenoid_net2

  selenoid-ui:
    image: aerokube/selenoid-ui
    container_name: selenoid-ui
    hostname: selenoid-ui
    ports:
      - "8080:8080"
    depends_on:
      - ggr-ui
    networks:
      - selenoid_net1
    command: ["--selenoid-uri", "http://ggr_ui:8888"]

  nginx:
    image: nginx:latest
    depends_on:
      - ggr
      - selenoid-ui
    ports:
      - "80:80"
    volumes:
      - /root/selenoid_otus/nginx/selenoid.conf:/etc/nginx/conf.d/selenoid.conf:ro
    networks:
      - selenoid_net1

networks:
  selenoid_net1:
    name: selenoid_net1
  selenoid_net2:
    name: selenoid_net2